/*
    En la seccion del 'head' (del HTML) deben de poner este link: 
    <link rel="stylesheet" href="css/styles.css">
    Eso es para que este archivo se conecte con sus archivos.


  *****************************
  VARIABLES GLOBALES (:root) // Es una de las consignas del practico.
  Qué es esto:
  Son "alias" para nuestros estilos. Si necesitamos usar el color principal, 
  en lugar de escribir el código hexadecimal (ej: #2c3e50), usamos la variable.

  Cómo la vamos a usar;
  En cualquier parte de su CSS cuando tengan que definir algun color, fuente, espaciado,etc, escriban: var(--nombreDeLaVariable)
  Ejemplo: background-color: var(--colorFondo);

  Esto es por si decidimos cambiar el color de toda la app, solo lo editamos 
  aquí arriba y se actualiza en todas nuestras páginas automáticamente.
  Si necesitan cambiar de color lo pueden hacer ahí en esa seccion directamente. Asi tenemos todo los mismos estilos, no hay 
  drama si quieren crear una nueva que ustedes crean necesario. Cualquier duda, la IA, nuestra amiga fiel jaja, o consultan al grupo.
  A otro detalle importante, NO hagamos uso de etiquetas directamente para dar estilo, por ejemplo h1{ color: red}
  porque al ser un solo archivo podemos cambiar todos los h1 del proyecto. Vamos a tener que crear clasess para referirnos a
  las etiquetas, asi no pisamos el trabajo de otro compañeo.
  

  header: #0B2F2A
  fondo: #1F3C39

  color de tarjeta: background: radial-gradient(at top left, #128C7E 0%, #075E54 100%);
*/
:root {
    --colorFondo:#39635f;
    --colorPrimario:#0B2F2A;
    --colorSecundario:#26a195;
    --colorTerciario:aliceblue;
    --fuentePrincipal: 'Segoe UI', Arial, sans-serif;
    --colorTexto: black;
    --espaciado: 20px;
}

.bodyIndex{
    margin: 0;
    background-color:var(--colorFondo);
    font-family: var(--fuentePrincipal);

    /*uso del grid*/
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.cabecera{
    background-color: var(--colorPrimario);
    color: var(--colorTerciario);
    padding: var(--espaciado);
    text-align: center; 
}
.navLista{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}
.navLista a{
    color: var(--colorTerciario);
    text-decoration: none;
    /*configuracion para que los enlaces sean mas visibles y anchos*/
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;/*para el uso del hover y active*/
    display: inline-block; /* Necesario para que el transform*/
}
/*uso de las animaciones al pasar por un enlace*/
.navLista a:hover {
    color: var(--colorSecundario); /*Cambia al color que resalte*/ 
    transform: scale(1.1);  
}
.navLista a:active {
    color: var(--colorFondo); /* color al hacer click en el enlace */
}
.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap;/*si las tarjetas no entras saltan a la siguiente fila*/
    justify-content: center;
    gap: var(--espaciado);
    padding: var(--espaciado);
}
.bloqueEstadisticas{
    display: flex;
    flex-direction: column;
    gap: var(--espaciado);
    flex: 1;/*ocupa una parte del espacio*/
    min-width: 300px;
    text-align: center;
}
.tarjeta{
    border-radius: 8px;
    padding: var(--espaciado);
    /*Para que se despeguen del fondo:*/ 
    box-shadow: 0 4px 15px rgba(31, 221, 205, 0.3);
    border-left: 5px solid var(--colorPrimario);
    background-image: url(/img/imgTarjetas.png);
    background-size: cover;
}
.tarjetaNovedades{
    flex: 2;
    min-width: 350px;
}
.tarjetaNovedades h2{
    padding-left: 20px;
    color: var(--colorTerciario);
}
.tarjetaNovedades li{
    color: var(--colorTerciario);
    font-size: 1.05rem;
    margin-bottom: 15px; /*Separación entre novedades*/
    line-height: 1.5;/*altura entre cada linea*/
    font-weight: 500;
}
.tarjetaNovedades a{
    color: var(--colorSecundario);
    text-decoration: none;
    font-weight: 600;
}

.bloqueEstadisticas .tarjeta p {/*Para el número de la estadística*/
    font-size: 2.2rem; /* */
    font-weight: bold;
    margin: 5px 0; /*Espacio arriba y abajo del número*/
    color: var(--colorTerciario);
}

.bloqueEstadisticas .tarjeta small {/*Para el texto de contexto*/
    display: block;  /* Para que ocupe su propia línea */
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--colorTerciario);
}

.bloqueEstadisticas .tarjeta h2 {
    font-size: 1.1rem;
    margin-bottom: 0;
    color: var(--colorTerciario);
}

.barraLateral{
    flex: 0.5;  /*espacio menor que las estadísticas*/
    min-width: 200px;
    padding: var(--espaciado);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(31, 221, 205, 0.3);
    text-align: center;
   background-image: url(/img/imgTarjetas.png);
    background-size: cover;
    color: var(--colorTerciario);
}

.contenedorMiniCartas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.miniCarta {
    height: 60px; 
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: var(--colorTerciario);
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(31, 221, 205, 0.3);
    transition: transform 0.2s;
    background-image: url(/img/fondoGeneral1.png);
    background-size: cover;
}

.miniCarta:hover {
    transform: scale(1.03);
}
.piePagina{
    color: var(--colorTerciario);
    background-color: var(--colorPrimario);
    text-align: center;
    padding: var(--espaciado);
}
.piePagina p {
    margin: 0;
}

.bodyProyectos{
    margin: 0;
    background-color:var(--colorFondo);
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    
    
    
}

.bodyDetalle{
   margin: 0;
    background-color:var(--colorFondo);
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
     
}



.parrafosD {
    text-align: justify;
    padding: 20px 50px;

    background-color: var(--colorfondo);
    border: 4px solid var(--colorPrimario);
    border-radius: 20px;

    display: flex;
    flex-direction: column; /* Pone un párrafo debajo del otro */
    gap: 10px;
    max-width: 1000px;
    margin: auto;      /* Centra la cajita en la pantalla */

    transition: 0.6s;       /* Suaviza el cambio */
}

.parrafosD:hover {
    background-color: var(--colorTerciario);  /* Cambia de color al pasar el mouse */
    transition: 0.6s;       /* Suaviza el cambio */
    transform: translateY(-5px);
}

.titulosD:hover{
    color: var(--colorTerciario); /*Cambia al color que resalte*/
    transform: scale(1.2);

}

.aD{
    list-style: none;
    text-decoration-line: none;
    gap: 20px;
}
.aD:hover {
    transform: scale(1.1);
}
.bD{
    list-style: none;
}


}
.cabecerapr{
    background-color: var(--colorPrimario);
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
}
.cabecerapr h1{
    text-align: center;
    color: var(--colorTerciario);
    font-family: var(--fuentePrincipal);
    padding: var(--espaciado);
    font-size: 2.2rem;
}
.navListPr{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}
.navListPr a{
    color: var(--colorTerciario);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;/*para el uso del hover y active*/
    display: inline-block; /* Necesario para que el transform*/
}
.navListPr a:hover {
    color: var(--colorSecundario); /*Cambia al color que resalte*/ 
    transform: scale(1.1);  
}
.navListPr a:active {
    color: var(--colorFondo); /* color al hacer click en el enlace */
}
