:root {
    --colorFondo:#39635f;
    --colorPrimario:#0B2F2A;
    --colorSecundario:#26a195;
    --colorTerciario:aliceblue;
    --fuentePrincipal: 'Segoe UI', Arial, sans-serif;
    --colorTexto: black;
    --espaciado: 20px;

    /**variables para los colores de las tarjetas en Mi Perfil**/
    --colorBlanco:#ffffff;
    --colorTarjeta:#f8fafc;
    --colorBorde:#d6e4e3;
    --sombra:0 4px 12px rgba(0,0,0,0.12);
}

.bodyIndex{
    margin: 0;
    background-color:var(--colorFondo);
    font-family: var(--fuentePrincipal);

    /*uso del grid*/
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url('../img/fondoGeneral3.png');
    background-size: cover;
    
}
.cabecera{
    background-color: var(--colorPrimario);
    color: var(--colorTerciario);
   /*para alinear logo y título*/
    display: flex;
    align-items: center;  
    justify-content: center; 
    gap: var(--espaciado);  
    flex-wrap: wrap;   
    gap: 10px;
}
.cabecera h1 {
    text-align: center;
    margin: 0;
     padding: 10px;
}
.logoPrincipal img {
    height: 100px;
    width: auto;/*Mantiene la proporción del tamaño del logo*/
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(31, 221, 205, 0.4));
    transition: filter 0.3s ease;/*transición para cuando pase el mouse */
}
.logoPrincipal:hover img {
    filter: drop-shadow(0 0 15px rgba(31, 221, 205, 1));
}

.navLista{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}
.navLista a{
    color: var(--colorTerciario);
    text-decoration: none;
    /*configuracion para que los enlaces sean mas visibles y anchos*/
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;/*para el uso del hover y active*/
    display: inline-block; /* Necesario para que el transform*/
}
/*uso de las animaciones al pasar por un enlace*/
.navLista a:hover {
    color: var(--colorSecundario); /*Cambia al color que resalte*/ 
    transform: scale(1.1);  
}
.navLista a:active {
    color: var(--colorFondo); /* color al hacer click en el enlace */
}
.contenedorPrincipal{
    display: flex;
    flex-wrap: wrap;/*si las tarjetas no entras saltan a la siguiente fila*/
    justify-content: center;
    gap: var(--espaciado);
    padding: var(--espaciado);
}
.bloqueEstadisticas{
    display: flex;
    flex-direction: column;
    gap: var(--espaciado);
    flex: 1;/*ocupa una parte del espacio*/
    min-width: 300px;
    text-align: center;
}
.tarjeta{
    border-radius: 8px;
    padding: var(--espaciado);
    /*Para que se despeguen del fondo:*/ 
    box-shadow: 0 4px 15px rgba(31, 221, 205, 0.3);
    border-left: 5px solid var(--colorPrimario);
    background-image: url('../img/imgTarjetas.png');
    background-size: cover;
}
.tarjetaNovedades{
    flex: 2;
    min-width: 350px;
    
}
.tarjetaNovedades h2{
    padding-left: 20px;
    color: var(--colorTerciario);
}
.tarjetaNovedades li{
    color: var(--colorTerciario);
    font-size: 1.05rem;
    margin-bottom: 15px; /*Separación entre novedades*/
    line-height: 1.5;/*altura entre cada linea*/
    font-weight: 500;
}
.tarjetaNovedades a{
    color: var(--colorSecundario);
    text-decoration: none;
    font-weight: 600;
}

.bloqueEstadisticas .tarjeta p {/*Para el número de la estadística*/
    font-size: 2.2rem; /* */
    font-weight: bold;
    margin: 5px 0; /*Espacio arriba y abajo del número*/
    color: var(--colorTerciario);
}

.bloqueEstadisticas .tarjeta small {/*Para el texto de contexto*/
    display: block;  /* Para que ocupe su propia línea */
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--colorTerciario);
}

.bloqueEstadisticas .tarjeta h2 {
    font-size: 1.1rem;
    margin-bottom: 0;
    color: var(--colorTerciario);
}

.barraLateral{
    flex: 0.5;  /*espacio menor que las estadísticas*/
    min-width: 200px;
    padding: var(--espaciado);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(31, 221, 205, 0.3);
    text-align: center;
    color: var(--colorTerciario);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('../img/fondoGeneral2.png');
    background-size: cover;
}

.contenedorMiniCartas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.miniCarta {
    height: 60px; 
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: var(--colorTerciario);
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(31, 221, 205, 0.3);
    transition: transform 0.2s;
    background-image: url('../img/fondoGeneral1.png');
    background-size: cover;
}

.miniCarta:hover {
    transform: scale(1.03);
}

.seccionSomos {
    width: 100%;
    padding: 80px 0;
    border-top: 3px solid var(--colorSecundario); /*Línea divisoria*/
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('../img/fondoGeneral2.png');
    background-size: cover;
    background-position: center;
}

.cuadroInformativo {
    width: 85%;
    max-width: 1000px;
    color: var(--colorTerciario);
    text-align: center;
}

.cuadroInformativo h2 {
    color: var(--colorTerciario);
    margin-bottom: 25px;
    font-size: 2.5rem;
    font-weight: 800;
}

.cuadroInformativo p {
    line-height: 1.8;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
}


.piePagina{
    color: var(--colorTerciario);
    background-color: var(--colorPrimario);
    text-align: center;
    padding: var(--espaciado);
}
.piePagina p {
    margin: 0;
}




.bodyProyectos{
    margin: 0;
    background-color:var(--colorFondo);
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center; 
   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/Sin\ título.png);
background-attachment: fixed;
background-size: cover;

}

}
/*  ---------------------DETALLE---------------------------*/
.bodyDetalle{
   margin: 0;
    background-color:var(--colorFondo);
    font-family: var(--fuentePrincipal);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    background-image: url('../img/fondoGeneral3.png');
    background-size: cover;
     
}
.cabeceraD {
    background-color: var(--colorPrimario);
    color: var(--colorTerciario);
    
    display: flex;
    flex-direction: column; 

    align-items: center;  
    justify-content: center; 
    gap: 1px; 
    
    padding: 20px;
}


.parrafosD {
    text-align: justify;
    padding: 20px 50px;

    background-color: var(--colorTerciario);
    border: 4px solid var(--colorPrimario);
    border-radius: 25px;

    display: flex;
    flex-direction: column; /* Pone un párrafo debajo del otro */
    gap: 10px;
    max-width: 1000px;
    margin: auto;      /* Centra la cajita en la pantalla */

    transition: 0.6s;       /* Suaviza el cambio */
}

.parrafosD:hover {
    /* Cambia de color al pasar el mouse */
    transition: 0.6s;       /* Suaviza el cambio */
    transform: translateY(-5px);
    background-color: var(--colorTerciario);
}
.titulosD{
    color: var(--colorTerciario);
}
.titulosD:hover{
    color: var(--colorPrimario); /*Cambia al color que resalte*/
    transform: scale(1.2);

}

.aD{
    text-decoration-line: blink,underline;
    gap: 20px;
    color: var(--colorTexto);
}
.aD:hover {
    transform: scale(1.1);
    color:var(--colorPrimario);

}
.cD{
    list-style: none;
}
.bD{
    list-style: none;
}

.cabecerapr{
    background-color: var(--colorPrimario);
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
}
.cabecerapr h1{
    text-align: center;
    color: var(--colorTerciario);
    font-family: var(--fuentePrincipal);
    padding: var(--espaciado);
    font-size: 2.2rem;
}
.navListPr{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}
.navListPr a{
    color: var(--colorTerciario);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;/*para el uso del hover y active*/
    display: inline-block; /* Necesario para que el transform*/
}
.navListPr a:hover {
    color: var(--colorSecundario); /*Cambia al color que resalte*/ 
    transform: scale(1.1);  
}
.navListPr a:active {
    color: var(--colorFondo); /* color al hacer click en el enlace */
}
.contenedorProyectos {
    display: grid;
    /* Columna 1 (Filtros): 260px | Columna 2 (Proyectos): El resto (1fr) */
    grid-template-columns: 260px 1fr;
    gap: 30px; /* Separación entre el lateral y las tarjetas */
    padding: 20px;
    align-items: flex-start;
}
.seccionFiltros {
    background-color: #1a2a2a; /* Verde oscuro del proyecto */
    padding: 25px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.seccionFiltros h2 {
    font-size: 1.4rem;
    color: #20c997; /* Turquesa para resaltar títulos */
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.controlFiltro {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.controlFiltro label {
    margin-bottom: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

.controlFiltro select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #2d3e3e;
    color: white;
    cursor: pointer;
}
/***************** Estilos para el archivo Mi Perfil ***************/
.bodyMiPerfil{
    margin:0;
    min-height: 100vh;
    font-family:var(--fuentePrincipal);
    background-color:var(--colorFondo);
    background-image:url('../img/fondoGeneral3.png');
    background-size:cover;

    min-height:100vh;
    display:grid;
    grid-template-rows:auto 1fr auto;
}
.cabeceraMiPerfil{
    background-color: var(--colorPrimario);
    color: var(--colorTerciario);  
    justify-content: center; 
    gap: var(--espaciado);  
    flex-wrap: wrap;   
    gap: 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.contenedorPrincipalMiPerfil{
    width:90%;
    max-width:1200px;

    margin:30px auto;

    display:grid;
    grid-template-columns:2fr 1fr;
    gap:var(--espaciado);
}

.tarjetas{
    background-color:var(--colorBlanco);
    border-radius:15px;
    padding:25px;
    box-shadow:var(--sombra);
}

.tarjetas h3,
.tarjetas h4{
    color:var(--colorPrimario);
    margin-bottom:20px;
}

.Perfiles{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.tarjetaPerfilExistente{
    background-color:var(--colorTarjeta);
    border:1px solid var(--colorBorde);
    border-radius:12px;

    padding:18px;
    text-align:center;

    transition:0.3s;
}

.tarjetaPerfilExistente:hover{
    transform:translateY(-5px);
    box-shadow:var(--sombra);
}

.tarjetaPerfilExistente img{
    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:12px;
}

.tarjetaPerfilExistente h4{
    margin-bottom:8px;
    color:var(--colorPrimario);
}

.tarjetaPerfilExistente p{
    color:#555;
    font-weight:bold;
}

.formularioPerfilNuevo{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.formularioPerfilNuevo label{
    font-weight:bold;
    color:var(--colorPrimario);
}

.formularioPerfilNuevo input,
.formularioPerfilNuevo select{
    padding:12px;
    border:1px solid #cccccc;
    border-radius:8px;
    font-size:1rem;
    font-family:var(--fuentePrincipal);
}


.formularioPerfilNuevo input:focus,
.formularioPerfilNuevo select:focus{
    outline:none;
    border-color:var(--colorSecundario);
}


.formularioPerfilNuevo input[type="submit"]{
    background-color:var(--colorSecundario);
    color:white;
    border:none;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.formularioPerfilNuevo input[type="submit"]:hover{
    background-color:var(--colorPrimario);
}

.formularioPerfilNuevo input[type="submit"]:active{
    transform:scale(0.97);
}
.galeriaProyectos {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
}
.galeriaProyectos h2 {
    text-align: center;
    grid-column: 1 / -1; 
    width: 100%;
    box-sizing: border-box;
    
   
    background-color: var(--colorPrimario); 
    color: var(--colorTerciario); 
    
    
    padding: 20px;
    border-radius: 15px; 
    margin-top: 0; 
    margin-bottom: 20px;
    
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
    font-size: 1.8rem;
    font-weight: bold;
}
.galeriaProyectos {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.tarjetaProyectos {
    background-color: #1a2a2a;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease; 
    color: var(--colorTerciario);
}

.tarjetaProyectos:hover {
    transform: translateY(-5px);
}

.tarjetaProyectos h3 {
    color: #20c997;
    margin-bottom: 15px;
}

.tarjetaProyectos img {
    width: 100%;
    height: 180px;
    object-fit: cover; 
    border-radius: 12px;
    margin-bottom: 15px;
}

.tarjetaProyectos p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: justify
}


.botonaccion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #20c997;
    color: #1a2a2a;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
.piepaginaPr {
margin: 0;
    color: var(--colorTerciario);
   } 